<launch>
    <node
        pkg = "radar_pkg"
        type = "radar.sh"
        name = "PointCloudFitting_node"
        output = "screen"
        respawn = "true">
    </node>

    <node
        pkg = "yolo11_pkg"
        type = "camera.sh"
        name = "yolo11_node"
        output = "screen"
        respawn = "true">
    </node>

    <node
        pkg = "processdata_pkg"
        type = "processdata_node"
        name = "processdata_node"
        output = "screen"
        respawn = "true">
    </node>
    
    <node
        pkg="serial_stm32_pkg" 
        type="serial_stm32_node" 
        name="serial_stm32_node"
        output="screen"
        respawn="true">
        <param name="port" type="string" value="/dev/ttyTHS0" />
        <param name="baud_rate" type="int" value="115200" />
    </node>
</launch>
